.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h2 {
  font-family: cursive;
  text-decoration: underline;
}

label {
  color: rgb(94, 90, 90);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  text-align: left;
  position: relative;
  animation-name: modalFrom;
  animation-duration: 1s;
}

@keyframes modalFrom {
  0%{
    top: -300px;
  }
  100% {
    top: 0;
  }
}

/* .btn-open-modal,
.btn-close-modal {
  margin-top: 20px;
} */
